.header-container{
    display: flex;
    border: 1px solid red;
    background-color: rgba(61, 61, 61, 0.779);
    width: 100%;
    padding: 0.85%;
    margin: 0%;
    border: 0px;
    line-height: 30px;
    justify-content: space-between;

}

.flickrlogo {

    justify-content: left;

}
.flickr-text{
    font-size:x-large;
    font-style:bold;
    font-weight: 900;
    color: white;
    font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
}

.example2 {
    border: dashed grey 1px;
    border-radius: 16px;
    padding: 16px;
    /* Phase 2 */
    /*!!START */
    display: inline-flex;
    gap: 8px;
    align-items: center;
    /*!!END */
}

.search-bar{
    border: 1px solid black;
    background-color:rgba(245, 245, 220, 0.184);
    border-radius: .25em;
    width: 80%;
    justify-content: center;
}
.glass {
margin-top: 5px;
margin-left: 1px;
justify-content:left;
}
.search-bar-func{
    /* color: rgba(0, 0, 0, 0); */
    background-color: rgb(255, 255, 255);
    justify-content:center;
    width:90%;
}
.buttons{

    justify-content: right;
}
body {
    
    background-image: url('images/windows-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* padding: 0; */
    margin: 0;
}
